body {
    margin: 0px;
    background-color: #eee;
}
.titulo-junior{
    color: yellow;
    background-color: #444333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-left: 500px;
    border: 2px solid ;
    border-radius: 100px;
}
.titulo-junior:hover{
    background-color: #ccc;
    color: rgb(rgb(255,255,255));
}
.div-rodape{
    background-color: #eefa00;
    border-bottom: 4px solid #aaa;
    padding-top: 9px;
    padding-bottom: 7px;
    border-radius: 30px;
}